
/* https://biblepic.com/ */







* {
  box-sizing: border-box;
  margin: 0vh 0vw 0vh 0vw;
  padding: 0.4vh 0vw 0vh 0vw;
}

body {
  background-image: url(../images/img_acts242.jpg);
  background-repeat: no-repeat;
  background-position: -2vw 8vh;
  background-size: 70vw auto;
}

.overlay {
  background-color: rgba(36, 37, 70, 0.75);
}

header {
  position: fixed;
}

.topNav {
  font-size: 1.5vw;
  padding: 2vh 0vw 0vh 56vw;
  height: 6vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.topNav a {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0vh 1.2vw 1vh 0vw;
  padding: 1vh 1vw 5vh 1vw;
  color: white;
  font-weight: 900;
  border-radius: 5%;
}

.h1 {
  background-color: rgba(240, 248, 255, 0.9);
  margin: -7vh -1vw 0vh 0vw;
  padding: 2vh 0vw 2vh 4.5vw;
  font-size: 3.7vw;
  font-weight: 100;
  letter-spacing: 0.01vw;
  display: flex;
  flex-wrap: nowrap;
  border-top: 0.1vh solid black;
}

.rotate {
  font-size: 1.5vw;
  transform: rotate(-90deg);
}

.grow {
  margin: 0vh 0vw 0vh -2vw;
}

.normal {
  font-size: 2.5vw;
  padding: 1.5vh 0vw 0vh 0vw;
}

.logo {
  width: 5vw;
}

.welcome {
  margin-top: 8vh;
  padding: 3vh 0vw 0vh 71vw;
  width: 100%;
  height: 100%;
  color: rgb(44,34,86);
  font-size: 5vw;
  font-weight: 100;
}

/* Slideshow container */
.slideshow-container {
  max-width: 23vw;
  position: relative;
  margin: 0vh 0vw 9vh 55vw;
  object-fit: cover;
}

/* Make the images invisible by default */
.containers {
  display: none;
}

/* Staff names */
.messageinfo {
  width: 18vw;
  color: #f2f2f3;
  font-size: 2vw;
  margin: 0vh 0vw 0vh 17vw;
  padding: 1vh 1vw 1vh 1vw;
  position: absolute;
}

.slideshow-container img {
  width: 18vw;
  margin: 5vh 0vw 14vh 18vw;
}

/* Caption info */
.info {
  background-color: rgba(0, 0, 0, 0.5);
  color: #e3e3e3;
  font-size: 1.5vw;
  margin: 0vh 0vw 0vh 18vw;
  padding: 1vh 1vw;
  position: absolute;
  bottom: 1vh;
  width: 18vw;
}

/* forward & Back buttons */
.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 18%;
  width: auto;
  margin: 0vh 0vw 0vh 20vw;
  color: grey;
  font-weight: bold;
  font-size: 10vw;
  transition: 0.4s ease;
  border-radius: 0 0.5vw 0.5vh 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: -18vw;
  border-radius: 0.5vh 0 0 0.5vw;
}

.Back {
  left: -7.2vw;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

footer {
    background-color: rgba(36, 37, 70, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25vh 0vw 0vh 0vw;
    padding: 0vh 3vw 0vh 3vw;
    color: white;
    font-size: 2.4vh;
  }
  
  footer iframe {
    padding: 1vh 0vw 5vh 0vw;
    width: 55vw;
    height: 60vh;
    border: 0;
  }
  
  .bottomNav {
    padding: 0vh 0vw 0vh 20vw;
    font-size: 4vw;
  }
  
  .bottomNav a {
    background-color: rgba(255, 255, 255, 0.80);
    padding: 1vh 5vw 1vh 5vw;
  }

  
  