






* {
    box-sizing: border-box;
    margin: 0vh 0vw 0vh 0vw;
    padding: 0.4vh 0vw 0vh 0vw;
  }
  
  body {
    background-color: rgba(36, 37, 70, 0.8);
  }
  
  header {
    position: fixed;
  }
  
  .topNav {
    font-size: 1.5vw;
    padding: 2vh 0vw 0vh 56vw;
    height: 6vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    z-index: 9;
  }
  
  .topNav a {
    background-color: rgba(36, 37, 70, 0.9);
    margin: 0vh 1.2vw 1vh 0vw;
    padding: 1vh 1vw 5vh 1vw;
    color: white;
    font-weight: 900;
    border-radius: 5%;
  }
  
  .h1 {
    background-color: rgba(36, 37, 70, 0.4);
    color: white;
    margin: -8vh -1vw 0vh 0vw;
    padding: 2vh 0vw 2vh 4.5vw;
    font-size: 3.7vw;
    font-weight: 100;
    letter-spacing: 0.01vw;
    display: flex;
    flex-wrap: nowrap;
    border: 0.1vh solid black;
  }
  
  .rotate {
    font-size: 1.5vw;
    transform: rotate(-90deg);
  }
  
  .grow {
    margin: 0vh 0vw 0vh -2vw;
  }
  
  .normal {
    font-size: 2.5vw;
    padding: 1.5vh 0vw 0vh 0vw;
  }
  
  .logo {
    width: 5vw;
  }
  
  .welcome {
    margin: 13vh 0vw 1vh 3vw;
  }
  
  .welcome p {
    background-color: rgba(255, 255, 255, 0.9);
    width: 15vw;
    padding: 0vh 1vw;
    color: black;
    font-size: 5vw;
    font-weight: 100;
  }
  
  /* Slideshow container */
  .slideshow-container {
    margin: 0vh 0vw 0vh 0vw;
  }
  
  /* Make the images invisible by default */
  .containers {
    display: none;
  }
  
  /* Staff names */
  .messageinfo {
    background-color: rgba(36, 37, 70, 0.1);
    margin: 0vh 3vw 2vh 3vw;
    padding: 1vw;
    color: black;
    font-size: 2.5vw;
    border-radius: 15%;
    text-align: center;
  }
  
  .one {
  background-image: url(../images/img_bibleWhiteRoses.jpg);
  background-size: auto 50vh;
  background-repeat: no-repeat;
  padding: 2vh 0vw 2vh 20vw;
  }
  
  .two {
  background-image: url(../images/img_bread.jpg);
  background-size: auto 50vh;
  background-repeat: no-repeat;
  padding: 2vh 0vw 2vh 20vw;
  }
  
  .three {
  background-image: url(../images/img_openBible.jpg);
  background-size: auto 50vh;
  background-repeat: no-repeat;
  padding: 2vh 0vw 2vh 20vw;
  }
  
  .info {
    background-color: rgba(36, 37, 70, 0.9);
    color: white;
    font-size: 2vw;
    position: absolute;
    margin: 0vh 0vw 0vh 2vw;
    padding: 1vw;
    width: 95vw;
    z-index: -5;
  }
  
  /* Faint animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 2;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 2;
    }
  }
  
  footer {
      background-color: rgba(36, 37, 70);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 72vh 0vw 0vh 0vw;
      padding: 0vh 3vw 0vh 3vw;
      color: white;
      font-size: 2.4vh;
    }
    
    footer iframe {
      padding: 1vh 0vw 5vh 0vw;
      width: 55vw;
      height: 60vh;
      border: 0;
    }
    
    .bottomNav {
      padding: 0vh 0vw 0vh 20vw;
      font-size: 4vw;
    }
    
    .bottomNav a {
      background-color: rgba(255, 255, 255, 0.80);
      padding: 1vh 5vw 1vh 5vw;
    }
  
    
    
  
  