









body {
    background-color: rgba(36, 37, 70);
  }
  
  header {
    background-color: rgba(240, 248, 255, 0.9);
    margin: -18vh 0vw 0vh -3vw;
    padding: 0vh 0vw 0vh 4vw;
    width: 101%;
    position: fixed;
  }
  
  .logo {
    margin: 1vh 0vw -6vh 38vw;
    width: 6vw;
    border-radius: 100%;
  }
  
  .topNav {
    margin: -8vh 3vw 0vh 0vw;
    font-size: 1.5vw;
    height: 6vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  
  .topNav a {
    background-color: rgba(36, 37, 70, 0.95);
    margin: 5vh 0.5vw 0vh 0.5vw;
    padding: 2vh 1vw 5vh 1vw;
    color: white;
    font-weight: 900;
    border-radius: 5%;
  }
  
  .h1 {
    font-size: 3.7vw;
    color: rgba(36, 37, 70);
    font-weight: 100;
    letter-spacing: 0.01vw;
    display: flex;
    flex-wrap: nowrap;
    border-top: 0.1vh solid black;
  }
  
  .rotate {
    font-size: 1.5vw;
    transform: rotate(-90deg);
  }
  
  .grow {
    margin: 0vh 0vw 0vh -2vw;
  }
  
  .normal {
    font-size: 2.5vw;
    padding: 1.5vh 0vw 0vh 0vw;
  }
  
  .welcome {
    background-color: gold;
    margin: 18vh 40vw -10vh 30vw;
    padding: 0vh 0vw 0vh 0vw;
    font-size: 5vw;
    text-align: center;
  }
  
  .resources {
    margin: 0vh 0vw -85vh 0vw;
    color: white;
    font-size: 1.5vw;
  }

  .resources a {
    color: white;
  }
  
  .shelter {
    margin: 0vh 0vw -20vh 23vw;
    width: 12vw;
    transform: rotate(20deg);
  }
  
  .money {
    margin: 0vh 0vw -20vh -2vw;
    width: 25vw;
    transform: rotate(-1deg);
  }
  
  .clothing {
    margin: 0vh 0vw -15vh -2vw;
    width: 30vw;
    transform: rotate(-10deg);
  }
  
  .food {
    margin: 0vh 0vw 0vh -22vw;
    width: 27vw;
    transform: rotate(88deg);
  }
  
  .directions {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 43vh -1vw 0vh -1vw;
    padding: 1vh 1vw;
    font-size: 1.5vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .address {
    margin: 0vh 1vw 0vh 0vw;
  }
  
  .map iframe{
    margin: 0vh 1vw 0vh 0vw;
    width: 30vw;
    height: 30vh;
  }
  
  .building {
    margin: 3vh -1vw 0vh 0vw;
    width: 31vw;
  }
  
  .bottomNav {
    margin: 10vh 0vw 30vh 0vw;
    font-size: 1.5vw;
    height: 6vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .bottomNav a {
    margin: 5vh 0.5vw 0vh 0.5vw;
    padding: 2vh 1vw 5vh 1vw;
    color: white;
    font-weight: 900;
    border-radius: 5%;
  }
  
  
  
  
  