







* {
  box-sizing: border-box;
  margin: 0vh 0vw 0vh 0vw;
  padding: 0.4vh 0vw 0vh 0vw;
}

body {
  background-color: rgba(36, 37, 70);
}

header {
  position: fixed;
}

.topNav {
  font-size: 1.5vw;
  padding: 2vh 0vw 0vh 56vw;
  height: 6vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  z-index: 9;
}

.topNav a {
  background-color: rgba(36, 37, 70, 0.9);
  margin: 0vh 1.2vw 1vh 0vw;
  padding: 1vh 1vw 5vh 1vw;
  color: white;
  font-weight: 900;
  border-radius: 5%;
}

.h1 {
  background-color: rgba(152, 31, 65, 0.25);
  color: white;
  margin: -8vh -1vw 0vh 0vw;
  padding: 2vh 0vw 2vh 4.5vw;
  font-size: 3.7vw;
  font-weight: 100;
  letter-spacing: 0.01vw;
  display: flex;
  flex-wrap: nowrap;
  border: 0.1vh solid black;
}

.rotate {
  font-size: 1.5vw;
  transform: rotate(-90deg);
}

.grow {
  margin: 0vh 0vw 0vh -2vw;
}

.normal {
  font-size: 2.5vw;
  padding: 1.5vh 0vw 0vh 0vw;
}

.logo {
  width: 5vw;
}

.welcome {
  margin: 13vh 0vw 1vh 3vw;
}

.welcome p {
  background-color: rgba(152, 31, 65, 0.25);
  width: 15vw;
  padding: 0vh 1vw;
  color: black;
  font-size: 5vw;
  font-weight: 100;
}

.staff {
  padding: 0vh 3vw 0vh 2vw;
  color: rgb(36, 37, 70);
  font-size: 2vw;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1vh 1vw;
}

.item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0vh 0vw 1vh 0vw;
  border: 0.5vw solid rgba(0, 0, 0);
  text-align: center;
}

.item h2 {
  font-size: 3vw;
}

.item img {
  height: 20vh;
}

.item p {
  border: 0.4vw solid rgba(247, 234, 93, 0.7);
  border-radius: 10%;
  background-color: rgb(36, 37, 70);
  color: rgb(62, 238, 238);
  padding: 1vh 0vw 1vh 0vw;
  font-size: 1.8vw;
}

footer {
  background-image: url(../images/img_fellowLogo.JPG);
  background-repeat: no-repeat;
  background-size: 50vw auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 18vh 0vw 0vh 0vw;
  padding: 0vh 1vw 0vh 3vw;
}

footer p {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(36, 37, 70);
  font-size: 2.8vh;
  font-weight: bolder;
}

footer iframe {
  margin: -1vh 0vw 0vh 0vw;
  width: 46vw;
  height: 74vh;
  border: 0;
}

.bottomNav {
  padding: 0vh 0vw 0vh 20vw;
  font-size: 4vw;
}

.bottomNav a {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vh 5vw 1vh 5vw;
}





