







body {
    background-image: url(../images/img_fellowLogo.JPG);
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    margin: 0;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                'Lucida Grande', 'Lucida Sans Unicode', 
                  Geneva, Verdana, sans-serif;
  }
  
  .topNav {
    background-color: rgb(6, 82, 86);
    font-size: 1.5vw;
    padding: 2vh 0vw 0vh 0vw;
    height: 6vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  
  .topNav a {
    padding: 0vh 9vw 0vh 1vw;
    color: rgb(62, 238, 238);
  }
  
  .h1 {
    background-color: rgb(6, 82, 86);
    margin-top: -3vh;
    padding: 3vh 0vw 3vh 4.5vw;
    font-size: 3.7vw;
    font-weight: 100;
    letter-spacing: 0.01vw;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    border-top: 0.1vh solid black;
  }
  
  .rotate {
    font-size: 1.5vw;
    transform: rotate(-90deg);
  }
  
  .grow {
    margin: 0vh 0vw 0vh -2vw;
  }
  
  .normal {
    font-size: 2.5vw;
    padding: 1.5vh 0vw 0vh 0vw;
  }
  
  
  .welcome {
    background-color: rgba(17, 54, 57, 0.747);
    height: 10vh;
    margin: -3vh 0vw 0vh 0vw;
    color: rgb(62, 238, 238);
    font-size: 2.2vw;
    font-weight: 100;
    padding: 1vh 0vw 0vh 3vw;
  }
  
  h2 {
    height: 5vh;
    font-size: 1.5vw;
    font-weight: 200;
    letter-spacing: 0.01vw;
    color: rgb(62, 238, 238);
    margin: 0vh 0vw 0vh 0vw;
    border-bottom: 0.2vh solid white;
  }
  
  .hours {
    background-color: rgba(17, 54, 57, 0.747);
    padding: 4vh 3vw 10vh 3vw;
    color: white;
  }
  
  .bottomNav {
    background-color: rgba(17, 54, 57, 0.747);
    font-size: 1.5vw;
    padding: 0vh 0vw 0vh 0vw;
    height: 6vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .bottomNav a {
    /* margin: -5vh 0vw -2vh 0vw; */
    padding: 1vh 9vw 1vh 9vw;
    color: rgb(62, 238, 238);
    border: 0.05vw solid rgb(62, 238, 238);
  }
  
  .space {
    padding: 5vh 0vw 0vh 0vw;
    /* border-style: solid; */
    border-width: 3vh 15vw 2vh 15vw;
    background-color: rgba(17, 54, 57, 0.747);
    /* border-image: radial-gradient(rgb(12, 151, 158), rgb(49, 152, 161), black) 1; */
}
  
  footer {
    background-color: rgba(17, 54, 57, 0.747);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1.8vh;
    padding: 5vh 3vw 2vh 3vw;
    color: white;
  }
  
  footer iframe {
    padding: 15vh 0vw 5vh 0vw;
    width:45vw;
    height:50vh;
    border:0;
  }
  
  footer img {
    width: 47vw;
    margin: -40vh 0vw 0vh 0vw;
  }
  
  