







body {
  background-image: url(../images/img_fellowLogo.JPG);
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  margin: 0;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
              'Lucida Grande', 'Lucida Sans Unicode', 
                Geneva, Verdana, sans-serif;
}



nav {
  background-color: rgb(6, 82, 86);
  font-size: 1.5vw;
  padding: 2vh 0vw 0vh 0vw;
  height: 6vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

nav a {
  padding: 0vh 9vw 0vh 1vw;
  color: rgb(62, 238, 238);
}

.h1 {
  background-color: rgb(6, 82, 86);
  margin-top: -3vh;
  padding: 3vh 0vw 3vh 4.5vw;
  font-size: 3.7vw;
  font-weight: 100;
  letter-spacing: 0.01vw;
  display: flex;
  flex-wrap: nowrap;
  color: white;
  border-top: 0.1vh solid black;
}

.rotate {
  font-size: 1.5vw;
  transform: rotate(-90deg);
}

.grow {
  margin: 0vh 0vw 0vh -2vw;
}

.normal {
  font-size: 2.5vw;
  padding: 1.5vh 0vw 0vh 0vw;
}


.welcome {
  background-color: rgba(17, 54, 57, 0.901);
  height: 10vh;
  margin: -3vh 0vw 0vh 0vw;
  color: rgb(62, 238, 238);
  font-size: 2.2vw;
  font-weight: 100;
  padding: 1vh 0vw 0vh 3vw;
}

h2 {
  height: 5vh;
  font-size: 1.5vw;
  font-weight: 200;
  letter-spacing: 0.01vw;
  color: rgb(62, 238, 238);
  margin: 0vh 0vw 0vh 0vw;
  border-bottom: 0.2vh solid white;
}

.hours {
  background-color: rgba(17, 54, 57, 0.97);
  padding: 4vh 3vw 10vh 3vw;
  color: white;
}

.space {
  padding: 65vh 0vw 0vh 0vw;
  border-style: solid;
  border-width: 3vh 15vw 2vh 15vw;
  border-image: radial-gradient(rgb(12, 151, 158), rgb(49, 152, 161), black) 1;
  /* border: 5vh solid black; */
}

footer {
  background-color: rgb(17, 54, 57);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5vh 3vw 2vh 3vw;
  color: white;
}

footer iframe {
  padding: 15vh 0vw 5vh 0vw;
  width:55vw;
  height:60vh;
  border:0;
}

footer img {
  width: 145%;
  margin: -40vh 0vw 0vh 0vw;
}

.bottomNav {
  background-color: rgb(6, 82, 86);
  font-size: 1.5vw;
  padding: 2vh 0vw 0vh 0vw;
  height: 6vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.bottomNav a {
  margin: -5vh 0vw 0vh 0vw;
  background-color: rgba(17, 54, 57, 0.901);
  padding: 4vh 4vw 0vh 4vw;
  color: rgb(62, 238, 238);
  border: 0.5vw solid rgb(62, 238, 238);
}




